@import '../bootstrap5/scss/bootstrap.scss';
// Colors
$blue-color: #98b1dc;
$white-color: #FFFFFF;
$silver-color: #a8a8a9;
$black-color: #000000;

//Text format
%text-a {
  color: $black-color;
  text-decoration: none;

  &:hover {
    color: $blue-color;
    text-decoration: underline;
  }
}

// SVG
.ic-mail {
  content: url("../img/svg/mail.svg");
  padding-right: 1rem;
}

// Radius
$section-radius: 10px;
$picture-radius: 15px;

.ic-phone {
  content: url("../img/svg/phone.svg");
  padding-right: 1rem;
}

.ic-house {
  content: url("../img/svg/house.svg");
  padding-right: 1rem;
}

// Documents Styles

body {
  background-color: $black-color;
  padding: 1rem 0;

}

.section-header {
  background-color: $blue-color;
  border-radius: $section-radius;

  .card {
    border-radius: $picture-radius;
  }

  img {
    border-radius: $picture-radius;
  }
}

.section-education-skills {
  background-color: $white-color;
  border-radius: $section-radius;

  padding-left: 2.2rem;

  h3 {
    font-weight: 700;
    font-size: 2.6rem;
  }

  h4 {
    padding-left: 4rem;
  }

  ul {
    list-style: none;

    li {
      padding: 0.2rem 0;
    }

    li::before {
      content: '✔';
      padding: 0 0.4rem;
      color: $silver-color;
    }
  }
}

.section-hobby {
  background-color: $silver-color;
  border-radius: $section-radius;

  h3 {
    font-weight: 700;
    font-size: 2.6rem;
  }

  .col-12.col-sm-6.col-md-4.col-lg-3 {
    margin: 1rem 0;

    img {
      border-radius: $picture-radius;
    }
  }
}

.section-footer {
  background-color: $white-color;
  border-radius: $section-radius;

  .footer {
    .ul-contact {
      margin-bottom: 0;
    }

    li {
      display: inline-block;
      padding: 1rem 1rem;

      .house {
        display: flex;
        align-items: center;
        margin-bottom: 0;
      }

      .house::before {
        @extend .ic-house;
      }

      .mail {
        display: flex;
        align-items: center;
      }

      .mail::before {
        @extend .ic-mail;
      }

      .phone {
        display: flex;
        align-items: center;
      }

      .phone::before {
        @extend .ic-phone;
      }
    }

    a {
      @extend %text-a;
      display: inline-block;
    }
  }
}


@include media-breakpoint-down(md) {

  .section-footer {
    padding: 1rem 0;

    .footer {
      li {
        display: block;
        padding: 0.2rem 0.5rem;
      }
    }
  }
}

@include media-breakpoint-down(sm) {
  body {
    padding: 0;
    background-color: $white-color;
  }
  .container {
    padding: 0;
  }
  .section-education-skills {
    h3 {
      display: flex;
      justify-content: start;
    }

    h4 {
      padding-left: 0;
    }

    ul {
      list-style: none;
      padding: 0;

      li {
        padding: 0;
      }
    }
  }

  .section-footer {

    .footer {
      li {
        display: block;
        padding: 0.2rem 0.5rem;
      }
    }
  }

}
